<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.storix.portalapi.mapper.item.ItemWishMapper">

    <delete id="deleteWish">
        DELETE  FROM OMS.ITEM_WISHLIST
         WHERE  USER_LOGIN_NO = #{userLoginNo}
           AND  ITEM_NO = #{itemNo}
    </delete>

    <select id="existsWish" resultType="boolean">
        SELECT  COUNT(*) > 0
          FROM  OMS.ITEM_WISHLIST
         WHERE  USER_LOGIN_NO = #{userLoginNo}
           AND  ITEM_NO = #{itemNo}
    </select>

</mapper>