<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.storix.portalapi.mapper.item.ItemMapper">
    <insert id="addWish">
        INSERT  INTO ITEM_WISHLIST (USER_LOGIN_NO, ITEM_NO, CREATED_DT)
        VALUES  (#{userLoginNo}, #{itemNo} , #{createdDt})
    </insert>

    <select id="existsWish" resultType="boolean">
        SELECT COUNT(*) > 0
         FROM  ITEM_WISHLIST
        WHERE  USER_LOGIN_NO = #{userLoginNo}
          AND  ITEM_NO = #{itemNo}
    </select>

    <select id="findWish" resultType="com.shop.storix.portalapi.model.dto.item.response.wish.ItemWishResponseDto$ItemWishResponse">
        SELECT  USER.USER_LOGIN_NO AS userLoginNo
             ,  ITEM.ITEM_NO AS itemNo
             ,  ITEM.ITEM_NAME AS itemName
             ,  ITW.CREATED_DT AS createdDt
          FROM  ITEM_WISHLIST ITW
          JOIN  USER_LOGIN USER ON USER.USER_LOGIN_NO = ITW.USER_LOGIN_NO
          JOIN  ITEM ITEM ON ITEM.ITEM_NO = ITW.ITEM_NO
         WHERE  ITW.USER_LOGIN_NO = #{userLoginNo}
           AND  ITEM.DELETED_DT IS NULL
          ORDER BY ITW.CREATED_DT DESC
    </select>

</mapper>