<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.storix.portalapi.mapper.item.ItemDetailMapper">

    <select id="detailItem" resultType="ItemDetailResponse">
        SELECT  item.ITEM_NO            AS itemNo
        ,  item.ITEM_NAME          AS itemName
        ,  MIN(io.PRICE)           AS price
        ,  id.MFD                  AS mfd
        ,  id.EXP                  AS exp
        ,  id.ITEM_DESCRIPTION     AS itemDescription
        ,  id.ITEM_WEIGHT          AS itemWeight
        ,  id.ITEM_WIDTH           AS itemWidth
        ,  id.ITEM_LENGTH          AS itemLength
        ,  id.ITEM_HEIGHT          AS itemHeight
        ,  id.ITEM_REMARK          AS itemRemark
        ,  item.DELETED_DT         AS deletedDt
        ,  item.ITEM_STATUS        AS itemStatus
        FROM  ITEM item
        LEFT  JOIN ITEM_OPTION_GROUP iog ON iog.ITEM_NO = item.ITEM_NO
        LEFT  JOIN ITEM_OPTION io ON io.GROUP_NO = iog.GROUP_NO
        LEFT  JOIN ITEM_DETAIL id ON id.ITEM_NO = item.ITEM_NO
        WHERE  item.ITEM_NO = #{itemNo}
        GROUP  BY item.ITEM_NO
        ,  item.ITEM_NAME
        ,  id.MFD
        ,  id.EXP
        ,  id.ITEM_DESCRIPTION
        ,  id.ITEM_WEIGHT
        ,  id.ITEM_WIDTH
        ,  id.ITEM_LENGTH
        ,  id.ITEM_HEIGHT
        ,  id.ITEM_REMARK
        ,  item.DELETED_DT
        ,  item.ITEM_STATUS
    </select>

    <select id="imgUrls" resultType="String">
        SELECT  ii.IMG_URL
        FROM  ITEM_IMAGES ii
        WHERE  ii.ITEM_NO = #{itemNo}
        AND  ii.DELETED_DT IS NULL
        ORDER  BY ii.SORT_ORDER ASC
    </select>

    <select id="optionDetail" resultType="ItemDetailOptionResponse">
        SELECT  iog.GROUP_NO      AS groupNo
        ,  iog.GROUP_NAME    AS groupName
        ,  io.OPTION_NO      AS optionNo
        ,  io.OPTION_NAME    AS optionName
        ,  io.PRICE          AS price
        FROM  ITEM_OPTION_GROUP iog
        JOIN  ITEM_OPTION io ON io.GROUP_NO = iog.GROUP_NO
        WHERE  iog.ITEM_NO = #{itemNo}
        ORDER  BY iog.GROUP_NO, io.OPTION_NO
    </select>

</mapper>