<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.storix.portalapi.mapper.item.ItemDetailMapper">

    <select id="detailItem" resultType="com.shop.storix.portalapi.model.dto.item.response.detail.ItemDetailDto$ItemDetailResponse">
        SELECT  ITEM.ITEM_NO AS itemNo
        ,  ITEM.ITEM_NAME AS itemName
        ,  MIN(ITOP.PRICE) AS price
        ,  ITDE.MFD AS mfd
        ,  ITDE.EXP AS exp
        ,  ITDE.ITEM_DESCRIPTION AS itemDescription
        ,  ITDE.ITEM_WEIGHT AS itemWeight
        ,  ITDE.ITEM_WIDTH AS itemWidth
        ,  ITDE.ITEM_LENGTH AS itemLength
        ,  ITDE.ITEM_HEIGHT AS itemHeight
        ,  ITDE.ITEM_REMARK AS itemRemark
        ,  ITEM.DELETED_DT AS deletedDt
        ,  ITEM.ITEM_STATUS AS itemStatus
        FROM  ITEM ITEM
        LEFT  JOIN ITEM_OPTION_GROUP ITOG ON ITOG.ITEM_NO = ITEM.ITEM_NO
        LEFT  JOIN ITEM_OPTION ITOP ON ITOP.GROUP_NO = ITOG.GROUP_NO
        LEFT  JOIN ITEM_DETAIL ITDE ON ITDE.ITEM_NO = ITEM.ITEM_NO
        WHERE  ITEM.ITEM_NO = #{itemNo}
        GROUP  BY ITEM.ITEM_NO
        ,  ITEM.ITEM_NAME
        ,  ITDE.MFD
        ,  ITDE.EXP
        ,  ITDE.ITEM_DESCRIPTION
        ,  ITDE.ITEM_WEIGHT
        ,  ITDE.ITEM_WIDTH
        ,  ITDE.ITEM_LENGTH
        ,  ITDE.ITEM_HEIGHT
        ,  ITDE.ITEM_REMARK
        ,  ITEM.DELETED_DT
        ,  ITEM.ITEM_STATUS
    </select>

    <select id="imgUrls" resultType="String">
        SELECT IMG_URL
        FROM ITEM_IMAGES
        WHERE ITEM_NO = #{itemNo}
        AND DELETED_DT IS NULL
        ORDER BY SORT_ORDER ASC
    </select>


    <select id="optionDetail" resultType="com.shop.storix.portalapi.model.dto.item.response.detail.ItemDetailOptionDto$ItemDetailOptionResponse">
        SELECT
        ITOG.GROUP_NO     AS groupNo,
        ITOG.GROUP_NAME   AS groupName,
        ITOP.OPTION_NO     AS optionNo,
        ITOP.OPTION_NAME   AS optionName,
        ITOP.PRICE         AS price
        FROM ITEM_OPTION_GROUP ITOG
        JOIN ITEM_OPTION ITOP ON ITOP.GROUP_NO = ITOG.GROUP_NO
        WHERE ITOG.ITEM_NO = #{itemNo}
        ORDER BY ITOG.GROUP_NO, ITOP.OPTION_NO
    </select>


</mapper>