<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.storix.portalapi.mapper.item.ItemOptionMapper">

    <select id="getOptionDetails" resultType="OptionDetail">
        SELECT option_no AS optionNo,
        group_no AS groupNo,
        option_name AS optionName
        FROM ITEM_OPTION
        WHERE option_no IN
        <foreach collection="optionNos" item="optionNo" open="(" separator="," close=")">
            #{optionNo}
        </foreach>
    </select>

    <select id="countOptionGroups" resultType="int">
        SELECT COUNT(DISTINCT group_no)
        FROM ITEM_OPTION_GROUP
        WHERE item_no = #{itemNo}
    </select>
</mapper>
