<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.storix.portalapi.mapper.auth.LoginMapper">
    <insert id="insertUserLogin"
            parameterType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login"
    >
        INSERT INTO USER_LOGIN (
            user_login_no,
            id,
            password
        )
        VALUES (
            #{userLoginNo},
            #{id},
            #{password}
        )
    </insert>

    <insert id="insertUserOauth"
            parameterType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$OAuthLogin"
            >
        INSERT INTO USER_OAUTH (
            user_oauth_no,
            user_login_no,
            oauth_provider,
            oauth_provider_id
        )
        VALUES (
            #{userOauthNo},
            #{userLoginNo},
            #{provider},
            #{providerId}
        )
    </insert>

    <insert id="insertUserRole"
            parameterType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$UserRole">
        INSERT INTO USER_ROLE (
        user_login_no,
        role_cd
        )
        VALUES (
        #{userLoginNo},
        #{roleCd}
        )
    </insert>

    <select id="findLoginByOAuthInfo"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login">
        SELECT
            ul.user_login_no,
            ul.id,
            ul.password,
            ul.active
        FROM USER_OAUTH uo
        JOIN USER_LOGIN ul
        ON uo.user_login_no = ul.user_login_no
        WHERE uo.oauth_provider_id = #{oauthProviderId}
            AND uo.oauth_provider = #{oauthProvider}
            AND ul.active = 'ACTIVE'
    </select>

    <select id="findOAuthLoginByOAuthInfo"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$OAuthLogin">
        SELECT
            user_oauth_no,
            user_login_no,
            oauth_provider,
            oauth_provider_id
        FROM USER_OAUTH uo
        WHERE uo.oauth_provider_id = #{oauthProviderId}
        AND uo.oauth_provider = #{oauthProvider}
    </select>

    <select id = "findUserRoleByLoginNo"
            parameterType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Role">
        SELECT
            r.ROLE_CD,
            r.ROLE_NM,
            r.PRIT_RNK
        FROM ROLE r
        JOIN USER_ROLE ur on r.ROLE_CD = ur.ROLE_CD
        WHERE ur.user_login_no = #{userLoginNo}
    </select>

    <select id = "findUserRoleByLoginId"
            parameterType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Role">
        SELECT
            r.ROLE_CD,
            r.ROLE_NM,
            r.PRIT_RNK
        FROM USER_LOGIN ul
        JOIN USER_ROLE ur ON ur.USER_LOGIN_NO = ul.USER_LOGIN_NO
        JOIN ROLE r ON r.ROLE_CD = ur.ROLE_CD
        WHERE ul.ID = #{id}
    </select>
    
    <select id="countDuplicateUser">
        SELECT
            COUNT(*)
        FROM USER_LOGIN ul
        JOIN PURCHASER_PROFILE pr
        ON ul.user_login_no = pr.user_login_no
        WHERE ul.id = #{id}
        OR pr.phone_number = #{phoneNumber}
    </select>

    <select id="findLoginByLoginId"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login">
        SELECT
            ul.user_login_no,
            ul.id,
            ul.password,
            ul.active
        FROM USER_LOGIN ul
        WHERE ul.id = #{id}
        AND ul.active = 'ACTIVE'
    </select>

    <select id="findLoginByUserLoginNo"
            resultType="com.shop.storix.portalapi.model.dto.auth.domain.AuthDto$Login">
        SELECT
        ul.user_login_no,
        ul.id,
        ul.password,
        ul.active
        FROM USER_LOGIN ul
        WHERE ul.user_login_no = #{userLoginNo}
        AND ul.active = 'ACTIVE'
    </select>

</mapper>